.header {
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: white;
  -webkit-box-shadow: 2px 3px 7px grey;
          box-shadow: 2px 3px 7px grey;
}

.header__logo {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 150px;
  background: white;
}

.header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search-bar {
  position: relative;
  height: 35px;
  width: 15rem;
  border: 3px solid #9B62DC;
  border-radius: 20px;
  background: whitesmoke;
  -webkit-box-shadow: inset 2px 2px 5px #d6d6d6;
          box-shadow: inset 2px 2px 5px #d6d6d6;
}

.header__search-icon {
  font-size: larger;
  position: absolute;
  left: 85%;
}

.header__cart {
  background: white;
}

.header div {
  position: relative;
  background: white;
}

.header .panier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  position: absolute;
  background: white;
  color: #ca7b56;
  border: 1px solid #b06da1;
  border-radius: 80%;
  left: 30px;
  top: 15px;
}

.fas {
  background: #9b62dc;
  background: linear-gradient(157deg, #9b62dc 24%, #b06da1 50%, #ca7b56 70%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.fa-shopping-cart {
  font-size: 2em;
}

.shop {
  margin: 3% 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: whitesmoke;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15rem;
  -webkit-box-shadow: 2px 2px 5px #d6d6d6;
          box-shadow: 2px 2px 5px #d6d6d6;
  background: white;
}

.article__link {
  margin: 3% 4%;
  text-decoration: none;
  color: black;
}

.article__div-img {
  height: 150px;
  background: white;
  overflow: hidden;
}

.article__img {
  height: 150px;
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.article__img:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.article__legende {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 95%;
}

.article__name {
  -webkit-margin-after: .5em;
          margin-block-end: .5em;
  font-family: 'Source Code Pro';
  font-weight: 400;
}

.article__price {
  -webkit-margin-before: .5em;
          margin-block-start: .5em;
  font-weight: 400;
  color: #626161;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3% 5%;
}

.product__img {
  height: 330px;
  width: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.product__legende {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 5%;
}

.product__name {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.product__custom {
  background: #9b62dc;
  background: linear-gradient(157deg, #9b62dc 24%, #b06da1 50%, #ca7b56 70%);
  color: white;
  width: 45%;
}

.product__order {
  border: none;
  height: 40px;
  border-radius: 20px;
  width: 25%;
  min-width: 5rem;
  background: #9b62dc;
  background: linear-gradient(157deg, #9b62dc 24%, #b06da1 50%, #ca7b56 70%);
  color: white;
  font-family: 'roboto', sans-serif;
  font-weight: 600;
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.product__order:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.product__order:hover:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart {
  margin: 5%;
}

.cart-elt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3% 0;
  width: 55%;
}

.cart-elt__img {
  height: 200px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart-elt__legende {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 3%;
}

.section-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10% 5%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
  padding: 1rem 5%;
  height: 7rem;
  background: whitesmoke;
}

.footer a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  background: white;
  font-family: 'roboto', sans-serif;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: whitesmoke;
  height: 10rem;
  -webkit-box-shadow: inset 0px 3px 6px grey;
          box-shadow: inset 0px 3px 6px grey;
}

h1 {
  font-family: 'roboto', sans-serif;
  background: #9b62dc;
  background: linear-gradient(157deg, #9b62dc 24%, #b06da1 50%, #ca7b56 70%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 0;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  height: 100px;
  margin: 5%;
}

.filter__color {
  background: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.filter__color-select {
  height: 30px;
}

.filter__color-icon {
  height: 30px;
  width: 30px;
  background: transparent;
}
/*# sourceMappingURL=main.css.map */