.header {
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: white;
}

.header__logo {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 150px;
  background: white;
}

.header__search-bar {
  height: 35px;
  width: 20%;
  border: 3px solid #9B62DC;
  border-radius: 20px;
  margin-left: 40%;
  background: whitesmoke;
  -webkit-box-shadow: inset 2px 2px 5px #d6d6d6;
          box-shadow: inset 2px 2px 5px #d6d6d6;
}

.header__cart {
  background: white;
}

.header div {
  position: relative;
  background: white;
}

.header .panier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  position: absolute;
  background: white;
  color: #ca7b56;
  border: 1px solid #b06da1;
  border-radius: 80%;
  left: 30px;
  top: 15px;
}

.shop {
  margin: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: whitesmoke;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15rem;
  -webkit-box-shadow: 2px 2px 5px #d6d6d6;
          box-shadow: 2px 2px 5px #d6d6d6;
  background: white;
}

.article__link {
  margin: 5%;
  text-decoration: none;
  color: black;
}

.article__div-img {
  height: 150px;
  background: white;
  overflow: hidden;
}

.article__img {
  margin: 5px;
  height: 150px;
  width: 200px;
  -o-object-fit: fill;
     object-fit: fill;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.article__img:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.article__legende {
  margin-top: 5px;
}

* {
  margin: 0;
  background: white;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: whitesmoke;
  height: 10rem;
}

h1 {
  font-family: 'roboto', sans-serif;
  background: #9b62dc;
  background: linear-gradient(157deg, #9b62dc 24%, #b06da1 50%, #ca7b56 70%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 0;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  height: 100px;
  margin: 5%;
}

.filter__color {
  background: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.filter__color-select {
  height: 30px;
}

.filter__color-icon {
  height: 30px;
  width: 30px;
  background: transparent;
}
/*# sourceMappingURL=main.css.map */