.main
{
    display: flex;
    @media (max-width: 720px) {
        flex-direction: column;
    }
}
.cart
{
    margin: 5%;
    &__title
    {
        display: flex;
        justify-content: flex-start;
        font-size: 2em;
    }
}
.cart-elt
{
    display: flex;
    margin: 3% 0;
    &__img
    {
        height: 200px;
        width: 200px;
        object-fit: cover;
    }
    &__legende
    {
        display: flex;
        flex-direction: column;
        margin: 0 3%;
    }
    &__qte-elt
    {
        display: flex;
        align-items: center;
    }
    &__qte
    {
        padding-right: 10px;
    }
    .btn
    {
        min-width: unset;
        width: 15%;
    }
    @media (max-width: 520px) {
        &__legende
        {
            height: 200px;
            h2
            {
                margin-block-start: 0;
                margin-block-end: 5px;
            }
        }
        &__price
        {
            margin-block-start: 0;
            margin-block-end: 5px;
        }
        &__description
        {
            margin-block-start: 0;
        }
    }
}
