.main
{
    display: flex;

}
.cart
{
    margin: 5%;
    &__title
    {
        display: flex;
        justify-content: flex-start;
        font-size: 2em;
    }
}
.cart-elt
{
    display: flex;
    margin: 3% 0;
    &__img
    {
        height: 200px;
        width: 200px;
        object-fit: cover;
    }
    &__legende
    {
        display: flex;
        flex-direction: column;
        margin: 0 3%;
    }
    &__qte-elt
    {
        display: flex;
        align-items: center;
    }
    &__qte
    {
        padding-right: 10px;
    }
}
