.footer
{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    padding: 1rem 5%;
    height: 8rem;
    background: $color-background;
    a
    {
        text-decoration: none;
        color: black;
    }
    &__contact
    {
        display: flex;
        flex-direction: column;
    }
}