.header
{
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    &__logo
    {
        align-self: flex-start;
        width: 150px;
        background: white;
    }
    &__search-bar
    {
        height: 35px;
        width: 15rem;
        border: 3px solid $color-primary;
        border-radius: 20px;
        margin:0 2rem 0 40%;
        background: whitesmoke;
        box-shadow: inset 2px 2px 5px #d6d6d6;
    }
    &__cart
    {
        background: white;
    }
    div
    {
        position: relative;
        background: white;
    } 
    .panier
    {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        position: absolute;
        background: white;
        color: $color-secondary;
        border: 1px solid $color-tertiary;
        border-radius: 80%;
        left: 30px;
        top: 15px;
    }
}