.shop
{
    margin: 3% 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: whitesmoke;
}
.article
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15rem;
    box-shadow: 2px 2px 5px #d6d6d6;
    background: white;
    &__link
    {
        margin: 3% 4%;
        text-decoration: none;
        color: black;
    }
    &__div-img
    {
        height: 150px;
        background: white;
        overflow: hidden;
    }
    &__img
    {
        height: 150px;
        object-fit: fill;
        transition: all 400ms ease-in-out;
        transform: scale(1);
        &:hover
        {
            transform: scale(1.15);
        }
    }
    &__legende
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 95%;
    }
    &__name
    {
        margin-block-end: .5em;
        font-family: 'Source Code Pro';
        font-weight: 400;
    }
    &__price
    {
        margin-block-start: .5em;
        font-weight: 400;
        color: rgb(98, 97, 97);
    }
}
